@using HRMS.Views.Admin
@model HRMS.Models.Department

@{
    ViewData["Title"] = "Details";
    Layout = "/Views/Admin/_Layout.cshtml";
    ViewData.AddActivePage(ManageNavPagesAdmin.Departments);
}

<h1>Details</h1>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpIdHead)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpIdHead)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.IsActive)
            {
                <span style="color:green;">Active</span>
            }
            else
            {
                <span style="color:red;">Deactivated</span>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
