@using HRMS.Views.Admin
<style>
    .manageNav li {
        float: none;
        width: 100%;
        /*padding: 5px 8px;
        margin: 1px 0px;*/
    }

        .manageNav li a {
            float: none;
            width: 100%;
            padding: 10px 15px;
            color: #337ab7;
        }

        
        .manageNav li a:hover {
            background-color: #337ab7;
            padding: 10px 15px;
            border-radius: 4px;
            color:#fff;
        }
        .manageNav li.active {
            background-color: #337ab7 !important;
            /*padding: 5px 8px;*/
            border-radius: 4px;
        }

    .manageNav .active a {
        float: none;
        width: 100%;
        padding: 10px 15px;
        color: #fff !important;
    }
</style>
<ul class="nav nav-pills nav-stacked manageNav" style="background:#f1f1f1">
    <li class="@ManageNavPagesAdmin.AdminDashboardNavClass(ViewContext)"><a asp-action="Dashboard" asp-controller="Admin">Dashboard</a></li>
    <li class="@ManageNavPagesAdmin.EmployeesNavClass(ViewContext)"><a asp-action="Index" asp-controller="Employees">Employees</a></li>

    <li class="@ManageNavPagesAdmin.DepartmentsNavClass(ViewContext)"><a asp-action="Index" asp-controller="Departments">Departments</a></li>
    <li class="@ManageNavPagesAdmin.ProjectsNavClass(ViewContext)"><a asp-action="Index" asp-controller="Projects">Projects</a></li>
    <li class="@ManageNavPagesAdmin.LeavesNavClass(ViewContext)"><a asp-action="Index" asp-controller="Leaves">Leaves</a></li>
    <li class="@ManageNavPagesAdmin.RolesNavClass(ViewContext)"><a asp-action="Index" asp-controller="Roles">Roles</a></li>
    <li class="@ManageNavPagesAdmin.SkillTypeNavClass(ViewContext)"><a asp-action="Index" asp-controller="SkillTypes">Skill Types</a></li>
    @*  <li class="@ManageNavPagesAdmin.ClassesNavClass(ViewContext)"><a asp-action="Index" asp-controller="Classes">Classes</a></li>
    <li class="@ManageNavPagesAdmin.SeasonsNavClass(ViewContext)"><a asp-action="Index" asp-controller="Seasons">Seasons</a></li>
    <li class="@ManageNavPagesAdmin.CostCodesNavClass(ViewContext)"><a asp-action="Index" asp-controller="CostCodes">Cost Codes</a></li>
    <li class="@ManageNavPagesAdmin.SizesNavClass(ViewContext)"><a asp-action="Index" asp-controller="Sizes">Sizes</a></li>
    <li class="@ManageNavPagesAdmin.DefAccountNavClass(ViewContext)"><a asp-action="DefaultCustomer" asp-controller="Other">Def. Account</a></li>
    <li class="@ManageNavPagesAdmin.AppConfigNavClass(ViewContext)"><a asp-action="Index" asp-controller="AppConfigs">App. Config</a></li>
    <li class="@ManageNavPagesAdmin.ReportsNavClass(ViewContext)"><a asp-action="Index" asp-controller="Reports">Reports</a></li> *@
</ul>
