@using HRMS.Views.Admin
@model HRMS.Models.Employee

@{
    ViewData["Title"] = "Delete";
    Layout = "/Views/Admin/_Layout.cshtml";
    ViewData.AddActivePage(ManageNavPagesAdmin.Employees);
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeUserID)
        </dt> 
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeUserID)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDepartmentManager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDepartmentManager)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsProjectManager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsProjectManager)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.IsActive)
            {
                <span style="color:green;">Active</span>
            }
            else
            {
                <span style="color:red;">Deactivated</span>

            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(modelItem => Model.Address.ApartmentNumber), @Html.DisplayFor(modelItem => Model.Address.HouseNumber)
            <br />
            @Html.DisplayFor(modelItem => Model.Address.Street)<br />
            @Html.DisplayFor(modelItem => Model.Address.City) - @Html.DisplayFor(modelItem => Model.Address.PostCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Skills)
        </dt>
        <dd class = "col-sm-10">
            @{
                string skillsList = String.Join(", ", Model.Skills.Select(p => p.Skill.SkillName));
                <span>@skillsList</span>
            }
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
